body {
	font-family: helvetica;
	/*background-color: #00aa22;*/
	background-color: #F8BA07;
	margin: 25px;
}

header {
	font-family: 'Paytone One', sans-serif;
	background-image: url("lights1.jpg");
	height: 138px;
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #ffffff;
	padding: 15px;
	color: #280200;
}
nav {
	float: right;
	padding: 10px;
	margin: 0, auto;
	/*background-color: #1100dd;*/
	background-color: rgba(0,0,0,0.2);	

}

ul {
	list-style-type: none;
		
}

li {
	display: inline;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #5D0500;
}

a:visited {
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    color: #F5F1F5;
}

footer {
	text-align: center;
}

#video1{
margin-left: auto;
margin-right: auto;
margin-top: 50px;
border: 5px solid gray;
 background-color: #777777;
 width: 650px;
 text-align: center;

}

#video2{
	background-color: #F5F1F5;
	border: 5px solid gray;
	width: 330px;
/*	margin-top: 20px;
	margin-bottom: 20px;
*/
	/*margin-left: 50%*/
}

#video3{
	background-color: #F5F1F5;
	border: 5px solid gray;
	/*height: auto;*/
	width: 330px;

}


.videotext{
/*	margin: 30px 30px 30px 15px;
	padding: 0 100px 0 0;*/
	/*float: left;
	margin-right: auto;*/
	position: relative;
	left: 375px;
	top: -240px;
	max-width: 600px;
	padding: 5px;
	background-color: #F5F1F5;
	letter-spacing: 1px;
}


